rec-op-lem-prices @ git+https://github.com/INESCTEC/rec-operation.git
tsg-client @ git+https://github.com/CPES-Power-and-Energy-Systems/tsg-client.git@d1f5c2a6c9466b03703d6aa68b8fc2f0b6f14cbd#egg=tsg_client
fastapi==0.115.0
packaging==24.1
loguru==0.7.2
python-dotenv==1.0.1
uvicorn==0.31.0
scipy==1.14.1